<!DOCTYPE html>
<html lang="vi">
    <head>
        <!-- Bản quyền thuộc về: https://thegioicode.vn -->
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Nạp tiền - LAYNICK.COM</title>
        <meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="LAYNICK.COM - Lấy lại nick FF bằng UID tự động 100%" />
        <meta name="description" content="LAYNICK.COM - Lấy lại nick FF bằng UID tự động 100%" />
        <link href="/css/fullcalendar.bundle.css" rel="stylesheet" />
        <link href="/css/datatables.bundle.css" rel="stylesheet" />
        <link href="/css/plugins.bundle.css" rel="stylesheet" />
        <link href="/css/style.bundle.css" rel="stylesheet" />
        <link href="/css/style.custom.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <script rel="stylesheet" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body data-kt-app-header-stacked="true" data-kt-app-header-primary-enabled="true" class="app-default">
        <!-- Bản quyền thuộc về: https://thegioicode.vn -->
        <div class="d-flex flex-column flex-root app-root">
            <div class="app-page flex-column flex-column-fluid">
                <div class="app-header">
                    <div class="app-header-primary">
                        <div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
                            <div class="d-flex flex-grow-1 flex-lg-grow-0">
                                <div class="d-flex align-items-center me-7" id="kt_app_header_logo_wrapper">
                                    <a href="/" class="d-flex align-items-center me-lg-20 me-5">
                                        <a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                    </a>
                                </div>
                            </div>

                            <div class="app-navbar flex-shrink-0">
                                <div class="d-flex align-items-center">
                                    <a class="cursor-pointer symbol symbol symbol-circle symbol-35px symbol-md-40px" href="/menu">
                                        <img class="" src="/images/logo-user.gif" alt="user" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-wrapper flex-column flex-row-fluid">
                    <div class="app-container container-xxl d-flex flex-row flex-column-fluid">
                        <div class="app-main flex-column flex-row-fluid">
                            <div class="d-flex flex-column flex-column-fluid">
                                <div class="app-toolbar d-flex flex-stack py-4 pb-8">
                                    <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10">
                                        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                                            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                                                Nạp Thẻ
                                            </h1>
                                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                                                <li class="breadcrumb-item text-muted">
                                                    <a href="/" class="text-muted text-hover-primary">Trang Chủ</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <span class="bullet bg-gray-400 w-5px h-2px"></span>
                                                </li>
                                                <li class="breadcrumb-item text-dark">Nạp Thẻ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-content flex-column-fluid">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title align-items-start flex-column">
                                                <span class="card-label fw-bold text-danger">Hình Thức Nạp Tiền</span>
                                            </h3>
                                        </div>
                                        <div class="card-body pt-6 pb-0">
                                            <form class="form">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12" id="notify">
                                                            <div class="alert alert-danger d-flex align-items-center p-5 mb-5">
                                                                <span class="svg-icon svg-icon-2hx svg-icon-danger me-4">
                                                                    <svg
                                                                        width="24"
                                                                        height="24"
                                                                        viewBox="0 0 24 24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                    >
                                                                        <path
                                                                            opacity="0.3"
                                                                            d="M20.5543 4.37824L12.1798 2.02473C12.0626 1.99176 11.9376 1.99176 11.8203 2.02473L3.44572 4.37824C3.18118 4.45258 3 4.6807 3 4.93945V13.569C3 14.6914 3.48509 15.8404 4.4417 16.984C5.17231 17.8575 6.18314 18.7345 7.446 19.5909C9.56752 21.0295 11.6566 21.912 11.7445 21.9488C11.8258 21.9829 11.9129 22 12.0001 22C12.0872 22 12.1744 21.983 12.2557 21.9488C12.3435 21.912 14.4326 21.0295 16.5541 19.5909C17.8169 18.7345 18.8277 17.8575 19.5584 16.984C20.515 15.8404 21 14.6914 21 13.569V4.93945C21 4.6807 20.8189 4.45258 20.5543 4.37824Z"
                                                                            fill="currentColor"
                                                                        ></path>
                                                                        <path
                                                                            d="M10.5606 11.3042L9.57283 10.3018C9.28174 10.0065 8.80522 10.0065 8.51412 10.3018C8.22897 10.5912 8.22897 11.0559 8.51412 11.3452L10.4182 13.2773C10.8099 13.6747 11.451 13.6747 11.8427 13.2773L15.4859 9.58051C15.771 9.29117 15.771 8.82648 15.4859 8.53714C15.1948 8.24176 14.7183 8.24176 14.4272 8.53714L11.7002 11.3042C11.3869 11.6221 10.874 11.6221 10.5606 11.3042Z"
                                                                            fill="currentColor"
                                                                        ></path>
                                                                    </svg>
                                                                </span>
                                                                <div class="d-flex flex-column">
                                                                    <h4 class="mb-1 text-danger">Xin Lưu Ý</h4>
                                                                    <span
                                                                        >Vui Lòng Nhập Đúng Mã Thẻ Và Seri, Chọn Sai Mệnh Giá Thẻ Sẽ Bị Mất
                                                                        Thẻ, Quý Khách Vui Lòng Kiểm Tra Kỹ Trước Khi Nạp.</span
                                                                    >
                                                                </div>
                                                                <button
                                                                    type="button"
                                                                    class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto"
                                                                    id="close-notify"
                                                                >
                                                                    <i class="fa-solid fa-xmark"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-5">
                                                            <select
                                                                class="form-control form-control-solid"
                                                                name="telco"
                                                                placeholder="Chọn Loại Thẻ"
                                                            >
                                                                <option value="">Chọn Loại Thẻ</option>
                                                                <option value="VIETTEL">Viettel</option>
                                                                <option value="MOBIFONE">MobiFone</option>
                                                                <option value="VINAPHONE">VinaPhone</option>
                                                                <option value="GARENA">Garena</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 mb-5">
                                                            <select
                                                                class="form-control form-control-solid"
                                                                name="amount"
                                                                placeholder="Chọn Mệnh Giá"
                                                            >
                                                                <option value="">Chọn Mệnh Giá</option>
                                                                <option value="10000">10.000đ</option>
                                                                <option value="20000">20.000đ</option>
                                                                <option value="30000">30.000đ</option>
                                                                <option value="50000">50.000đ</option>
                                                                <option value="100000">100.000đ</option>
                                                                <option value="200000">200.000đ</option>
                                                                <option value="300000">300.000đ</option>
                                                                <option value="500000">500.000đ</option>
                                                                <option value="1000000">1.000.000đ</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 mb-5">
                                                            <input
                                                                type="text"
                                                                class="form-control form-control-solid"
                                                                placeholder="Nhập Mã Thẻ"
                                                                name="code"
                                                            />
                                                        </div>
                                                        <div class="col-md-6 mb-5">
                                                            <input
                                                                type="text"
                                                                class="form-control form-control-solid"
                                                                placeholder="Nhập Mã Seri"
                                                                name="serial"
                                                            />
                                                        </div>
                                                        <div class="col-md-12 mb-5">
                                                            <button type="submit" class="btn btn-light-danger" id="napthe">NẠP NGAY</button>
                                                        </div>
                                                    </div>
                                                    <div class="separator separator-dashed border-black my-3 mb-5"></div>
                                                    <span class="fs-3 fw-bold text-danger">Lịch Sử Nạp Thẻ Cào</span>
                                                    <div class="row my-3">
                                                        <div class="col-md-12 overflow-auto">
                                                            <table
                                                                class="table align-middle border rounded text-center table-row-dashed fs-6 g-5 mb-0"
                                                            >
                                                                <thead>
                                                                    <tr class="text-center text-gray-400 fw-bold fs-7 text-uppercase">
                                                                        <th class="min-w-100px">Loại Thẻ</th>
                                                                        <th class="min-w-100px">Mệnh Giá</th>
                                                                        <th class="min-w-100px">Serial</th>
                                                                        <th class="min-w-100px">Mã Thẻ</th>
                                                                        <th class="min-w-100px">Trạng Thái</th>
                                                                        <th class="min-w-100px">Thời Gian</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="fw-semibold text-gray-600">
                                                                    <% if (chargings.length > 0) { %> <% chargings.forEach((charging) => {
                                                                    %>
                                                                    <tr>
                                                                        <td><%= charging.telco %></td>
                                                                        <td><%= charging.amount %>đ</td>
                                                                        <td><%= charging.serial %></td>
                                                                        <td><%= charging.code %></td>
                                                                        <td>
                                                                            <span
                                                                                class="badge <%= charging.status === 99 ? 'bg-warning' : (charging.status === 1 ? 'bg-success' : (charging.status === 2 ? 'bg-info' : 'bg-danger')) %>"
                                                                                ><%= charging.message %></span
                                                                            >
                                                                        </td>
                                                                        <td><%= charging.created_at %></td>
                                                                    </tr>
                                                                    <% }); %> <% } else { %>
                                                                    <tr>
                                                                        <td colspan="6">Không có dữ liệu</td>
                                                                    </tr>
                                                                    <% } %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-footer">
                <div class="app-footer-primary">
                    <div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
                        <div class="d-flex flex-column flex-column-fluid">
                            <div class="d-flex flex-grow-1 flex-stack flex-wrap">
                                <a class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center" href="/">
                                    <i class="fa-solid fa-house fs-2 mb-1"></i>
                                    <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">Trang Chủ</h1>
                                </a>
                                <a class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center" href="/upgrade">
                                    <i class="fa-solid fa-arrow-up-from-bracket fs-2 mb-1"></i>
                                    <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">Nâng cấp</h1>
                                </a>

                                <a
                                    class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center active"
                                    href="/card"
                                >
                                    <i class="fa-solid fa-money-bill fs-2 mb-1"></i>
                                    <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">Nạp Tiền</h1>
                                </a>
                                <a
                                    class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center"
                                    href="/evaluate"
                                >
                                    <i class="fa-regular fa-star fs-2 mb-1"></i>
                                    <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">TOP</h1>
                                </a>

                                <a class="footer-nav-title d-flex flex-column justify-content-center flex-wrap text-center" href="/menu">
                                    <i class="fa-regular fa-user fs-2 mb-1"></i>
                                    <h1 class="page-heading d-flex font-nav-footer flex-column justify-content-center my-0">Tài Khoản</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        console.log('%cBản quyền thuộc về: https://thegioicode.vn', 'color:green;font-size:14px;font-weight:bold');
        document.getElementById('close-notify').addEventListener('click', (e) => {
            e.preventDefault();

            document.getElementById('notify').style.display = 'none';
        });
        document.getElementById('napthe').addEventListener('click', async (e) => {
            e.preventDefault();

            const telco = document.querySelector('select[name="telco"]').value;
            const amount = document.querySelector('select[name="amount"]').value;
            const code = document.querySelector('input[name="code"]').value;
            const serial = document.querySelector('input[name="serial"]').value;

            if (!telco || !amount || !code || !serial) {
                Swal.fire({
                    icon: 'error',
                    title: 'Thông báo',
                    text: 'Vui lòng điền đầy đủ thông tin',
                });
                return;
            }

            try {
                const data = {
                    telco,
                    amount,
                    code,
                    serial,
                };

                document.getElementById('napthe').disabled = true;

                const response = await fetch('/api/chargingws/v2', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();

                document.getElementById('napthe').disabled = false;
                document.querySelector('input[name="code"]').value = '';
                document.querySelector('select[name="telco"]').value = '';
                document.querySelector('input[name="serial"]').value = '';
                document.querySelector('select[name="amount"]').value = '';
                if (result.status === 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thông báo',
                        text: result.message,
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Thông báo',
                        text: result.message || result.error,
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Thông báo',
                    text: 'Lỗi kết nối đến máy chủ',
                });
            }
        });
    </script>
</html>
